body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

canvas {
    box-shadow: rgb(46, 44, 44) 20px 10px 50px;

}

h1{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 5px red;

}

body {
    background-color: rgb(216, 216, 216);
}

li, a, button {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 500;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;


}

button:hover {
    background-color: rgba(0,136,169,0.8);


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
}

li{
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;

}

li.dropdown{
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(216, 216, 216);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}